@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'ABeeZee', sans-serif;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar::-webkit-scrollbar-track {
    display: none;
}